Repository unb-mds/2025-2-Synapse, pull requests merged in 2025-09, with the labels that each got.

#55 :recycle:refactor: prevent cors issues
  backend/app/__init__.py
  backend/app/controllers/user_controller.py
  backend/app/routes/user_routes.py
Labels: back, API

#56 :recycle:refactor: prevent cors issues
  backend/app/__init__.py
  backend/app/controllers/user_controller.py
  backend/app/routes/user_routes.py
Labels: back, API

#102 :sparkles: feat: create function to only create topic in service with…
  backend/app/services/topic_service.py
Labels: back, API

#101 Feat/edit account data
  frontend/src/components/HeaderEditAccount.jsx
  frontend/src/icons/arrow-down.svg
  frontend/src/icons/back-svgrepo-com.svg
  frontend/src/icons/eye-regular-full.svg
  frontend/src/icons/eye-slash-regular-full.svg
  frontend/src/main.jsx
  frontend/src/pages/ChangePassword.jsx
  frontend/src/pages/EditAccount.jsx
Labels: front, back, API

#104 :wrench: chore: unit tests fixed
  backend/tests/conftest.py
  backend/tests/test_user_routes.py
Labels: back

#115 Feat/view account page
  README.md
  backend/app/__init__.py
  backend/app/controllers/news_source_controller.py
  backend/app/controllers/topic_controller.py
  backend/app/entities/user_news_sources_entity.py
  backend/app/models/exceptions.py
  backend/app/repositories/news_source_repository.py
  backend/app/repositories/topic_repository.py
  backend/app/repositories/user_news_source_repository.py
  backend/app/routes/news_source_routes.py
  backend/app/routes/topic_routes.py
  backend/app/services/news_source_service.py
  backend/app/static/openapi.yaml
  backend/requirements.txt
  frontend/src/components/PreferredTopics.jsx
  frontend/src/main.jsx
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/AddSource.jsx
Labels: front, back, new feat, API, db

#121 Final tests implementations
  backend/app/repositories/user_news_source_repository.py
  backend/app/services/news_source_service.py
  backend/tests/test_news_source_controller.py
  backend/tests/test_news_source_integration.py
  backend/tests/test_news_source_repository.py
  backend/tests/test_news_source_unit.py
  backend/tests/test_topic_controller.py
  backend/tests/test_topic_routes.py
  backend/tests/test_topic_service.py
  backend/tests/test_user_controller.py
  backend/tests/test_user_news_source_repository.py
  backend/tests/test_user_service.py
  test_news_source_controller.py
  test_news_source_repository.py
Labels: tests
